
:root {
    --primary-text-color: #000000;
    --title-text-color: #000000;
    --header-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --accent-color: #0000ff;

    --date-color: #737373;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* section */

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18pt;
}

.section time {
    color: var(--date-color);
    font-size: 14pt;
}

.section .text {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16pt;
}

/* container */

.container {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */

.container-header {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    display: block;
    color: var(--header-text-color);
}

.logo .img {
    display: block;
}

.page-header {
    background-color: #F76045;
}

.text-header {
    margin-left: 30px;

    color: var(--header-text-color);
    font-size: 18pt;
}

.nav {
    display: flex;
    margin-left: auto;
    color: var(--header-text-color);
    font-weight: 700;
}

.nav .item:not(:last-child) {
    margin-right: 40px;
}

.nav .link {
    display: block;
    padding-top: 41px;
    padding-bottom: 41px;
}

.nav .link:hover, .nav .link:focus {
    color: var(--accent-color);
}

.nav .link {
    color: #ffffff;
}

.nav .link.current {
    color: var(--accent-color);
}

/* HERO */

.hero img {
    width: 100%;
}

/* news */

.news-list > .item {
    padding: 15px;
}

.news-list > .item:nth-child(2n) {
    background-color: #f5f5f5;
}


/* афиша */

.section .datw {
    color: var(--accent-color);
    font-size: 14pt;
}

.section .name {
    font-weight: 700;
    font-size: 16pt;
}

/* history */

.history .text {
    margin-top: 20px;

    font-weight: 400;
}

/* truppa */

.truppa {
    display: flex;
    flex-wrap: wrap;
}

.truppa .item {
    width: 200px;
}

.truppa .item:not(:last-child) {
    margin-right: 82px;
}

/* footer */

.container-footer {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;

    background-color: #000000;
    color: var(--footer-text-color);
    font-size: 14pt;
}

.container-footer .address {
    padding-left: 15px;

    font-style: normal;
}

.container-footer .mail,
.container-footer .tel {
    color: #737373;
}

.container-footer .mail {
    margin-top: 30px;
}

.social {
    margin-left: 100px;
}

.social .list {
    display: flex;
    margin-top: 30px;
}

.social .item:not(:last-child) {
    margin-right: 30px;
}