
:root {
    --primary-text-color: #000000;
    --title-text-color: #000000;
    --header-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --accent-color: #0000ff;

    --date-color: #737373;
}

body {
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18pt;
}

.section time {
    color: var(--date-color);
    font-size: 14pt;
}

.section .text {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16pt;
}

/* header */

.logo {
    color: var(--header-text-color);
    font-size: 18pt;
}

.page-header {
    background-color: #F76045;
}

.nav {
    color: var(--header-text-color);

    font-weight: 700;
}

.nav .link:hover, .nav .link:focus {
    color: var(--accent-color);
}

.nav .link {
    color: #ffffff;
}

.nav .link.current {
    color: var(--accent-color);
}


/* афиша */

.section .datw {
    color: var(--accent-color);
    font-size: 14pt;
}

.section .name {
    font-weight: 700;
    font-size: 16pt;
}



/* footer */

.page-footer {
    background-color: #000000;
    color: var(--footer-text-color);
    font-size: 14pt;
}

.page-footer .address {
    font-style: normal;
}

.page-footer .mail {
    color: #737373;
}